---
layout: default
---

{% if page.profile %}
    {% if page.profile.image %}
            <span class="profile-container">
                <span>
                    <img class="profile {{ page.profile.align }}" width="90%" src="{{ page.profile.image | prepend: '/assets/images/' | relative_url }}">
                <br>
                <span class="rounded-social-buttons">
                    {% include social-footer.html %}
                </span>
            </span>
    {% endif %}
{% endif %}<!--
-->{{ content }}
