---
layout: default
---

{% if page.profile %}
    {% if page.profile.image %}
            <span class="profile-container {{ page.profile.align }}">
                <span>
                    <img class="profile" width="100%" src="{{ page.profile.image | prepend: '/assets/images/' | relative_url }}">
                </span>
                <br>
                Contact me by:
                <br>
                {% include social-footer.html %}
            </span>
    {% endif %}
{% endif %}<!--
-->{{ content }}
